doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Users
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    main
      h1.status Users
      ul.list
        each user in users
          li= user.name
      a.button(href="/") Back home
