<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1 class="status">Users</h1>
      <ul class="list">
        <% users.forEach(function (user) { %>
          <li><%= user.name %></li>
        <% }); %>
      </ul>
      <a class="button" href="/">Back home</a>
    </main>
  </body>
</html>
